# Example `.env` file that matches
# with the `docker-compose.yaml`.

# Database
DB_CONNECT=postgres://admin:admin@localhost/minnatropolis
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost/minnatropolis
GOOSE_MIGRATION_DIR=./sql/migrations

# WebAPI
LISTEN_ON=127.0.0.1:8080

# Room
# GUARD_PSK=ABCDEF1234
# FILTER_INDEX_PATH=./index.json
