# Example `.env` file that matches
# with the `docker-compose.yaml`
# and `config.yaml.example`.

# Database
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://admin:admin@localhost/minnatropolis
GOOSE_MIGRATION_DIR=./sql/migrations
